/* Game.css */

.choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
  }
 
  #gamemain 
  {
    margin-top: 1rem;
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  
  .result {
    margin-top: 20px;
    font-size: 20px;
    color: aliceblue;
  }
  